:root {
  --bg-primary: #181818;
  --bg-nav:#212121;
  --text-white: #fff;
  --sign-in-btn: dodgerblue;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--bg-primary);
}

.nav {
  background: var(--bg-nav);
  height: 8vh;
  display: flex;
  padding: 10px 20px;
}

.main {
  background: blue;
  min-height: 92vh;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  padding-top: 20px;
}

/* top navigation
==============================================================================*/
.nav-left-container {
  flex: 0.12;
  /* background: rgba(0, 0, 0, 0.3); */
  /* background: blue;; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.yt-logo {
  height: 30px;
}

.yt-logo-text {
  color: var(--text-white);
  font-family: sans-serif;
  font-size: 18px;
  padding-left: 3px;
}

.nav-middle-container {
  flex: 1;
  /* background: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-right-container {
  flex: 0.12;
  /* background: rgba(0, 0, 0, 0.3); */
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.apps {
}

.apps img {
  width: 20px;
}

.settings {

}

.settings img {

  /* margin-right: 20px;  */
}

.sign-in {
  border: 1px solid var(--sign-in-btn);
  display: inline-flex;
  padding: 6px;
  color: var(--sign-in-btn);
  font-family: sans-serif;
  text-transform: uppercase;
  align-items: center;
  border-radius: 2px;
  font-size: 14px;
}

.avatar-placeholder {
  height: 20px;
  width: 20px;
  border-radius: 100px;
  display: block;
  border: 1px solid var(--sign-in-btn);
  margin-right: 6px;
}
/* main content
==============================================================================*/
.main-content-container {
  flex: 1;
  background: orangered;
  margin-right: 20px;
}

/* video player
==============================================================================*/
.video-container {
  height: 500px;
  background: #123;
}

.video-player {
  height: 80%;
  background: #321;
}

/* comments section
==============================================================================*/
.comments-container {
  display: flex;
  flex-direction: column;
}

.comment-box {
  background: #999;
  display: flex;
  height: 100px;
  margin-bottom: 10px;
}

.commenter-avatar {
  height: 40px;
  width: 40px;
  background: #f08;
  border-radius: 100px;

}

/* next videos list
==============================================================================*/
.next-videos-queue-container {
  background: plum;
  flex: 0.25;
  display: flex;
  flex-direction: column;
}


.next-video-container {
    height: 100px;
    background: #666;
    margin-bottom: 6px;
}
